/* CSS admin */

.inbox_people {
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    clear: both;
    overflow: hidden;
}


.recent_heading {
    float: left;
    width: 40%;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 100%;
    overflow-y: scroll;
}

.active_chat {
    background: #eee;
}


.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
}

.mesgs {
    float: left;
    width: 60%;
    height: 100% !important;
}

.input-msg textarea:focus{
    outline: none !important;
    background: linear-gradient(to right, #7f7fd531, #86a8e72b,  #91eae42b) !important;
    transition: all .3s ease-in-out;
}

.type_msg {
    position: relative;
}

.people-box:hover {
    background: #eee;
    cursor: pointer;
}
  
  #file-input {
    display: none;
  }
  
  #file-input:focus + .file-label {
    outline: 1px solid #3498db;
    outline-offset: -1px;
  }
  

/* CSS talent */
/* body,
html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    
} */

.chat-list {
    padding: 0;
    font-size: .8rem;
    height: 68%;
    overflow-y: scroll !important;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: .8rem;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message-img img {
    background: #fc6d4c;
    padding: .2rem;
    border-radius: .5rem;
}

.chat-list .in .chat-message-img img {
    background: #5a99ee;
    padding: .2rem;
    border-radius: .5rem;
}


.chat-list .out .chat-message:before{
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}
